@use '../../base/colors' as *;
@use '../../base/typos' as *;
@use '../../base/rules' as *;

// Chapter Layout

.chapter-layout {
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $spacing-xl;
  }

  &__title {
    font-size: $font-size-3xl;
    font-weight: $font-weight-semibold;
    margin: 0;
    color: $color-neutral-dark;
  }

  &__actions {
    display: flex;
    gap: $spacing-md;
    align-items: center;
  }

  &__content {
    // Content styles
  }
}
