@use '../base/colors' as *;
@use '../base/typos' as *;
@use '../base/rules' as *;

// Page Dashboard

.dashboard {
  &__title {
    font-size: $font-size-4xl;
    font-weight: $font-weight-semibold;
    color: $color-neutral-dark;
    margin-bottom: $spacing-2xl;
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: $spacing-xl;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
