// Import commun des composants globaux

@use '../components/common/buttons';
@use '../components/common/cards';
@use '../components/common/toggles';
@use '../components/common/feedback';
@use '../components/livewire/counter';
